/* Reset básico y fuentes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Estilos para navegación */
  nav {
    background-color: rgb(45, 74, 128);
    color: white;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  nav h1 {
    font-size: 2rem;
  }
  
  nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav div a,
  nav div button {
    color: #f0f8ff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  button {
    background-color: rgba(91, 144, 210, 0.6);
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    color:  white;
  }
  
  nav div button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Sección de filtros */
  
  .seccion_filtros {
    background-color: rgb(115, 143, 194);
    padding: 2rem;
    color: white;
  }
  
  .seccion_filtros h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .filtros {
    display: none; /* flex */
    gap: 1.5rem;
    align-items: flex-end;
    flex-wrap: wrap;
  }

.filtros.visible {
  display: flex;
}
  
  .filtros > div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    min-width: 180px;
  }
  
  .filtros input,
  .filtros select {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    outline: none;
  }
  
  .filtros label,
  .filtros h3 {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .filtro-boton button {
    padding: 0.7rem 1.5rem;
    background-color: white;
    color: rgb(45, 74, 128);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .filtro-boton button:hover {
    background-color: #e0e0e0;
  }

  .toggle-btn {
    padding: 0.7rem 1.5rem;
    background-color: white;
    color: rgb(45, 74, 128);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .toggle-btn:hover {
    background-color: #e0e0e0;
  }

  main{
    flex-grow: 1;
  }
  

  
  /* Footer */
  footer {
    background-color: rgb(45, 74, 128);
    height: 80px;
    margin-top: 2rem;
  }
  

  